# Ignore specified folders
Admin/
Levin/
Literature/
Meetings/
ML/
Overleaf/
weeklyreports/
Dataset/Dataset_MSc/Features
Dataset/Dataset_MSc/Manuevers
Dataset/Dataset_MSc/Residuals

# Ignore specific file
Workdays.ods
github.txt
Dataset/Dataset_MSc/*.csv
Analysis/Trend_Removal/lowess_tutorial.ipynb
